<div class="main-div">
    <label class="heading"><b>Reset Password</b></label>
    <div class="internal-div">
        <div class="form-div">
            <div>
                <label class="input-label"><b>Enter new password</b></label>
                <input class="form-input" type="password" name="password" #confirmpassword="ngModel" [(ngModel)]="userDetails.password" required minlength="4">
                <div class="error-output" *ngIf="!confirmpassword.valid && (confirmpassword.dirty || confirmpassword.touched)">
                    <div *ngIf="confirmpassword.errors?.['required']">
                        * Required Field
                    </div>
                    <div *ngIf="confirmpassword.errors?.['minlength']">
                        Minimum Length is 4
                    </div>
                </div>
            </div>
            <div class="Submit-box">
                <div ng-disabled="myForm.name.$dirty && myForm.name.$invalid || myForm.gender.$dirty && myForm.gender.$invalid"></div>
                <button mat-button class="submit-button" (click)=updatePassword()>Reset Password</button>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>