
<div class="main-div">
  <h1 class="forgot-txt">
    <strong>
      Forgot your password?
    </strong>
  </h1>
  <div class="form-background">
    <div class="inner-form-content">
      <div class="text-part">
        Enter your email address and we'll send you a link to reset your password.
      </div>
      <div class="email-field">
        <label class="input-label"><b>Email Id</b></label>
        <input class="form-input" type="email" required placeholder="" [(ngModel)]="emailId">
      </div>
      <div>
        <button mat-button class="reset-button" (click)="sendMail()">Reset password</button>
      </div>
    </div>
    <div class="line-tag">
      <label routerLink="/register" >
        <h2 class="create-account">create account</h2>
      </label>
    </div>
  </div>
</div>
