// .bottom {

//    display: flex;
//    flex-direction: column;
//    justify-content: center;
//    padding     : 10px;
//    font-family : Roboto;
//    padding-left: 90px;
//    height: 5%;
//    text-align: left;
//    color       : white;
//    bottom      : 0px;
//    width       : 92.7%;
//    background  : #2E1D1E 0% 0% no-repeat padding-box;
//    opacity     : 1;
// }

.bottom {
  background: #2e1d1e 0% 0% no-repeat padding-box;
  opacity: 1;
  bottom: 0;
  height: 40px;
  position: fixed;
  width: 100%;
}

.text {
  position: fixed;
  bottom: 9px;
  left: 200px;
  color: #ffffff;
  font-size: 13px;
  font-family: Lato;
  letter-spacing: 0px;
  opacity: 1;
}
